<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063777536149-0ks583umpp730jmtfmk8aqjfv7d3mcj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063777536149-0ks583umpp730jmtfmk8aqjfv7d3mcj6</string>
	<key>API_KEY</key>
	<string>AIzaSyBRJSoMAFaSM-iEBXDLTGOIXOdvh2Ve6mc</string>
	<key>GCM_SENDER_ID</key>
	<string>1063777536149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a3m.upwork</string>
	<key>PROJECT_ID</key>
	<string>final-project-react-12190</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-react-12190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063777536149:ios:c37f7bdfbb828fa300739c</string>
</dict>
</plist>